<div>Header</div>
<!-- content -->
<div class="flex flex-col gap-5">
<!-- <img src="https://via.placeholder.com/1000x1100" width="1000" height="1100">
<img src="https://via.placeholder.com/1000x800" width="1000" height="800">
<img src="https://via.placeholder.com/1000x500" width="1000" height="500" fetchPriority="high" loading="lazy">
<img src="https://via.placeholder.com/1000x400" width="1000" height="400" loading="lazy">
<img src="https://via.placeholder.com/1000x300" width="1000" height="300" loading="lazy"> -->

<img ngSrc="https://via.placeholder.com/1000x1100" width="1000" height="1100" priority="high">
<img ngSrc="https://via.placeholder.com/1000x800" width="1000" height="800" >
<img ngSrc="https://via.placeholder.com/1000x500" width="1000" height="500" >
<img ngSrc="https://via.placeholder.com/1000x400" width="1000" height="400" >
<img ngSrc="https://via.placeholder.com/1000x300" width="1000" height="300">

</div>